<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970043328453-k3ru6hhg665pksfrqhv1mkr1r9ct16pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970043328453-k3ru6hhg665pksfrqhv1mkr1r9ct16pl</string>
	<key>API_KEY</key>
	<string>AIzaSyCnDs67opfkc2lTt0fw7dT0BgGmX0lGloQ</string>
	<key>GCM_SENDER_ID</key>
	<string>970043328453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cloud3tech.workitoff</string>
	<key>PROJECT_ID</key>
	<string>workitoff-app</string>
	<key>STORAGE_BUCKET</key>
	<string>workitoff-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970043328453:ios:9866ea8a6def4c6f</string>
	<key>DATABASE_URL</key>
	<string>https://workitoff-app.firebaseio.com</string>
</dict>
</plist>